.best-seller {
  border: 1px solid transparent;
}

.best-seller__title {
  @include list-style;
  @include title-base-fonts;
  padding-top: 30px;

  white-space: nowrap;

  @media (min-width: $tablet-width) {
    padding: 50px 0;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    padding: 55px 0;
    padding-left: 170px;

    font-size: 53px;
    line-height: 57px;
  }
}

.best-seller__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: $desktop-width) {
      padding-top: 70px;
    }
  }
}

.best-seller__option {
  @include list-style;
  padding-top: 5px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $mentol-font-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 75px;
    padding-top: 60px;
    padding-right: 26px;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-right: 0;
    padding-left: 40px;

    order: -1;
  }
}

.best-seller__descr {
  @include list-style;
  padding-top: 21px;

  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    width: 290px;

    font-size: 17px;
    line-height: 30px;
  }
}

.best-seller__list {
  @include list-style;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 25px;

  border-spacing: 0;

  @media (min-width: $tablet-width) {
    width: 290px;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.best-seller__filed {
  width: 95px;

  box-sizing: border-box;
}

.best-seller__list tr {
  display: block;
  margin-bottom: 6px;

  border-bottom: 2px solid $smoke-font-color;
}

.best-seller__price {
  margin-top: 23px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 290px;
    margin-top: -108px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -110px;
    margin-left: 175px;
  }
}

.best-seller__order {
  margin-top: 23px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
    margin-bottom: 65px;
  }
}

.best-seller__image {
  @media (min-width: $tablet-width) {
    width: 333px;
    height: 404px;
    padding-top: 5px;

    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.best-seller__left-column {
  @media (min-width: $desktop-width) {
    padding-top: 160px;
  }
}
