.best-seller {
  border: 1px solid transparent;
}

.best-seller__title {
  @include list-style;
  @include title-base-fonts;
  padding-top: 30px;


  white-space: nowrap;
}

.best-seller__wrapper {
  @include container;
}

.best-seller__option {
  @include list-style;
  padding-top: 8px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $mentol-font-color;
  text-transform: uppercase;
}

.best-seller__descr {
  @include list-style;
  padding-top: 30px;

  line-height: 24px;
}

.best-seller__list {
  @include list-style;
  padding-top: 30px;
  padding-bottom: 30px;
}

.best-seller__filed {
  width: 95px;

  box-sizing: border-box;
}

.best-seller__list tr {
  display: block;

  border-bottom: 2px solid $smoke-font-color;
}

.best-seller__price {
  margin-top: 27px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.best-seller__order {
  margin-top: 25px;
  margin-bottom: 43px;
}
