.button {
  display: block;
  padding: 14px 5px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: $base-font-color;
  font-weight: 700;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  border: 2px solid $base-font-color;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: $base-font-color;
    color: $white-font-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
  }
}
