.button {
  display: block;
  padding: 16px 5px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: $base-font-color;
  font-weight: 700;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  border: 2px solid $base-font-color;
  box-sizing: border-box;
}
