.catalog__wrapper {
  @include container;

  &--inner {
    position: relative;
    padding: 75px 0;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 80px;
    }
  }
}

.catalog__title {
  @include list-style;

  font-size: 27px;
  color: $black-font-color;
  font-weight: 700;

  text-align: center;

  @media (min-width: $tablet-width) {
    @include title-tablet-fonts;

    margin-top: 18px;
  }
}

.catalog__inner {
  background-color: $silver-font-color;
}

.catalog__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
   margin-bottom: 52px;
  }
}
