.catalog__wrapper {
  @include container;

  &--inner {
    position: relative;
    padding: 75px 0;
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      margin-bottom: 85px;
    }

    @media (min-width: $desktop-width) {
      padding: 95px 0;
      margin-bottom: 132px;
    }
  }
}

.catalog__title {
  @include list-style;

  font-size: 27px;
  color: $black-font-color;
  font-weight: 700;

  text-align: center;

  @media (min-width: $tablet-width) {
    @include title-tablet-fonts;

    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    @include title-desktop-fonts;

    margin-top: 0;
  }
}

.catalog__inner {
  position: relative;
  background-color: $silver-font-color;

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -12px;
      left: 0;
      width: 100%;
      height: 23px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 23px;
    }
  }
}

.catalog__item {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}
