.components-list {
  @include list-style;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.components-list__link-wrapper {
  @include container;
}

.components-list__link {
  display: block;
  padding: 27px 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $white-font-color;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-left: 37px;
    font-size: 20px;
    line-height: 30px;
  }
}


.components-list__link-descr {
  @include list-style;
  width: 130px;
}

.components-list__item {
  position: relative;
  background-color: $mentol-font-color;
  transition: 500ms ease;

  &:not(:last-child):before {
    content: '';
    position: absolute;
    top: 18px;
    right: 15px;

    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.5;

    @media (min-width: $tablet-width) {
      top: 26px;
      right: 25px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 334px;
  }


  @media (min-width: $desktop-width) {
    width: 525px;
  }



  &--interior:before {
    background-image: url("../img/icon-interior.svg");
  }

  &--toys {
    background-color: $darker-mentol-font-color;

    &:before {
      background-image: url("../img/icon-toy.svg");
    }
  }

  &--best-seller {
    position: relative;
    background-color: $white-font-color;

    @media (min-width: $tablet-width) {

        width: 100%;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 23px;
        background-image: url(../img/bg-zigzag-fill.svg);
        background-repeat: repeat-x;
        background-size: auto 23px;
      }
    }
  }


}

.components-list__item:not(:last-child):hover {

  &:before {
    opacity: 0.7;
  }
}

.components-list__item:active {

  &:before {
    opacity: 0.3;
  }
}

.components-list__item:active .components-list__link {
  opacity: 0.3;
}
