.components-list {
  @include list-style;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.components-list__link-wrapper {
  @include container;
}

.components-list__link {
  display: block;
  padding: 27px 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $white-font-color;
  text-decoration: none;

  outline: 2px solid blue;

  @media (min-width: $tablet-width) {
    padding-left: 37px;
    font-size: 20px;
    line-height: 30px;
  }
}

.components-list__link-descr {
  @include list-style;
  width: 130px;
}

.components-list__item {
  background-color: $mentol-font-color;

  &--toys {
    background-color: $darker-mentol-font-color;
  }

  &--best-seller {
    background-color: $white-font-color;
  }

  @media (min-width: $tablet-width) {
    width: 334px;
  }

  &--best-seller {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 525px;
  }
}
