.contacts__list {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.contacts__field {
  display: block;
  width: 50px;

  @media (min-width: $tablet-width) {
    width: 70px;
  }
}

.contacts__item {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    width: 334px;
    margin-bottom: 0;
    padding-right: 30px;

    font-size: 17px;

    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding-right: 20px;
    margin-bottom: 25px;
  }
}

.contacts tbody {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    display: flex;
  }
}

.contacts__value {
  width: 182px;

  @media (min-width: $tablet-width) {
    width: 235px;
  }
}

.contacts__email-adress {
  padding-bottom: 5px;

  color: inherit;
  text-decoration: none;

  border-bottom: 2px solid $mentol-font-color;

  &:hover,
  &:focus {
    color: $mentol-font-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__adress {
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }
}

.contacts__adress br:first-child {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}


.contacts__write {
  margin: 36px 0;


  @media (min-width: $tablet-width) {
    width: 225px;
    margin: 55px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 5px;
    margin-left: 177px;
  }
}
