.copyright {
  display: flex;
  margin-top: 28px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top : 0;
    margin-left: auto;
  }
}

.copyright__text {
  @include list-style;

  padding-left: 38px;
  padding-right: 30px;

  font-size: 19px;
  line-height: 18px;
  color: $black-font-color;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    padding-right: 25px;
  }
}

.copyright__link {
  width: 32px;
  height: 38px;
  margin-top: -5px;

  font-size: 0;

  background-position: left top;
  background-repeat: no-repeat;
  background-image: url("../img/logo-htmlacademy.svg");

  opacity: 0.9;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top : 0;
    background-position: center;
  }
}
