.footer-logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.footer-logo__link:hover .footer-logo__svg {
  fill: $mentol-font-color;
}

.footer-logo__link:active .footer-logo__svg {
  opacity: 0.3;
}
