.header-logo {
  display: block;
  padding: 22px 10px;

  text-align: center;
  box-sizing: border-box;
  border-top: 1px solid $smoke-font-color;
  border-bottom: 1px solid $smoke-font-color;

  @media (min-width: $tablet-width) {
    height: 88px;
    width: 320px;
    padding: 22px 0;

    text-align: left;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 295px;
    padding: 10px 0;
    padding-left: 45px;

    order: 2;
  }
}

.header-logo__link:not(.header-logo__link--current) {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header-logo__link img {
  @media (min-width: $tablet-width) {
    width: 113px;
  }

  @media (min-width: $desktop-width) {
    width: 148px;
    height: 73px;
  }
}
