.main-nav {
  background-color: pink;
  background-clip: content-box;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid #e7e7e7;

    overflow: hidden;
  }
}

.main-nav__wrapper {
  position: relative;

  outline: 2px solid orange;

  @media (min-width: $tablet-width) {
    @include container;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.main-nav__toggle {
  position: absolute;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
