.market-list {
  @include list-style;
}

.market-list__item {
  display: none;

  &--delivery {
    @media (min-width: $tablet-width) {
      display: block;
      padding:  13px 0;

      position: absolute;
      top: 0;
      right: 0;

      font-size: 15px;
      line-height: 24px;
      color: $base-font-color;
    }
  }

  &--sale,
  &--new {
    @media (min-width: $desktop-width) {
      display: inline-block;

      position: absolute;
      top: 0;
    }
  }

  &--sale {
    @media (min-width: $desktop-width) {
      left: 220px;
    }
  }
}

.market-list__link {
  display: block;
  padding: 16px 0;
  font-size: 15px;
  line-height: 24px;
  color: $black-font-color;
  font-weight: 700;

  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
