.page-header__wrapper {
  @media (min-width: $tablet-width) {
    @include container;

    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.page-header__advantage {
  display: none;

  @media (min-width: $tablet-width) {
    @include list-style;
    display: block;
    width: 240px;

    padding: 16px 0;
    margin-left: auto;

    font-size: 15px;
    line-height: 24px;
    text-align: right;
    color: $base-font-color;
    z-index: 10;
  }

  @media (min-width: $desktop-width) {
    margin-top: -55px;
  }
}
