.page-footer {
  outline: 2px solid orange;
}

.page-footer__wrapper {
  @include container;
}

.page-footer__title {
  @include list-style;

  margin-top: 38px;
  margin-bottom: 38px;

  font-size: 18px;
  color: $black-font-color;
  font-weight: 700;
}

.page-footer__contacts {
  &--social {
    border: 1px solid transparent;
    background-color: #f1f1f1;
  }
}
