.products__list {
  @include list-style;
}

.products__item {
  border: 1px solid transparent;
  outline: 2px solid orange;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.products__price {
  @include list-style;
  @include custom-title-fonts;

  font-size: 15px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }
}

.products__name {
  @include list-style;
  @include custom-title-fonts;

  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.products__order {
  margin: 27px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 25px 15px;
    padding: 0 10px;

    box-sizing: border-box;
  }

}

.products__inner {
  width: 205px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 240px;
    margin: 0;
  }

  &--top {
    border-bottom: 2px solid $smoke-font-color;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &--bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    @media (min-width: $tablet-width) {
      padding: 0 5px;
      padding-top: 25px;
      box-sizing: border-box;
      border-top: 2px solid $smoke-font-color;
    }
  }
}

.products__descr {
  @include list-style;
  margin-bottom: 18px;

  font-size: 13px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.products__buy {
  display: block;
  width: 25px;
  height: 20px;

  font-size: 0;

  outline: 2px solid;
}

//Опционально
.products__image {

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }
}
