.production {
  margin-bottom: 55px;
  border: 1px solid transparent;
  outline: 2px solid orange;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.production__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.production__video {

  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.production__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 205px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 590px;
  }
}

.production__title {
  @include list-style;
  @include custom-title-fonts;

  position: relative;

  width: 127px;
  margin-top: 22px;
  margin-bottom: 26px;
  padding-left: 90px;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-top: 40px;
    padding-left: 105px;

    font-size: 20px;
    line-height: 24px;

    order: 0;
  }
}

.production__descr {
  @include list-style;
  @include small-description-fonts;

  width: 190px;
  margin: 25px 0;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-top: 5px;
    margin-bottom: 32px;

    font-size: 15px;
    line-height: 30px;

    order: 3;
  }
}

.production__order {
  width: 190px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 42px;

    order: 4;
  }
}

.production__image {
  //опционально
  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }
}
