.production {
  margin-bottom: 55px;
  border: 1px solid transparent;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
  }
}

.production__wrapper {
  @include container;

  border: 1px solid $smoke-font-color;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px #ececec;
  }

  &:active {
    box-shadow: 0 3px 5px #ececec;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 60px;

    box-sizing: border-box;
  }
}

.production__video {

  position: relative;

  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.production__btn {
  position: absolute;
  top: 30px;
  left: 75px;

  width: 105px;
  height: 85px;

  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-play.svg");
  border: none;
  background-color: transparent;

  font-size: 0;

  cursor: pointer;
  outline: none;
  transition: 300ms ease;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    top: 185px;
    left: 280px;
  }

  @media (min-width: $desktop-width) {
    top: 190px;
    left: 285px;
  }
}

.production__video img {
  width: 260px;
  height: 150px;

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 682px;
  }
}

.production__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 205px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 590px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    margin: 0;
    margin-left: auto;
    margin-top: -280px;
  }
}

.production__title {
  @include list-style;
  @include custom-title-fonts;

  position: relative;

  width: 127px;
  margin-top: 22px;
  margin-bottom: 26px;
  padding-left: 90px;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 25px;

    width: 45px;
    height: 30px;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/icon-video.svg");

    @media (min-width: $tablet-width) {
      top: -5px;
      left: 35px;
    }

    @media (min-width: $desktop-width) {
      top: -55px;
      left: 75px;
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
    margin-top: 40px;
    padding-left: 105px;

    font-size: 20px;
    line-height: 24px;

    order: 0;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
    margin-top: 100px;
    padding-left: 80px;
  }
}

.production__descr {
  @include list-style;
  @include small-description-fonts;

  width: 190px;
  margin-top: 25px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 32px;

    font-size: 15px;
    line-height: 30px;

    order: 3;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.production__order {
  width: 190px;
  margin-bottom: 33px;

  z-index: 2;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 42px;

    order: 4;
  }
}

.production__image {
  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 680px;
  }
}
