.range {
  background-color: #f9f9f9;

  overflow: hidden;
}

.range__inner {
  width: 260px;
  margin: 0 auto;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -20px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 500px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center 0;
  }

  @media (min-width: $desktop-width) {
    width: 615px;
  }
}

.range__wrapper {
 position: relative;

  @media (min-width: $tablet-width) {
    @include container;
  }
}

.range-title {
  @include list-style;
  margin: 0 auto;
  width: 260px;
  padding-top: 74px;
  padding-bottom: 121px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $black-font-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include title-tablet-fonts;

    width: 500px;
    padding-top: 155px;
    padding-bottom: 370px;
  }

  @media (min-width: $desktop-width) {
    width: 615px;
    padding-bottom: 360px;

    font-size: 53px;
    line-height: 57px;
  }
}
