.reviews__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    position: relative;

    padding-bottom: 45px;

    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 90px;
    padding-left: 172px;
  }
}

.reviews {
  margin-top: 55px;

  outline: 2px solid green;
  border: 1px solid transparent;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
  }
}

.reviews__title {
  @include list-style;
  @include title-base-fonts;

  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 75px;
    padding-bottom: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 45px;

    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__descr {
  @include list-style;

  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    margin-bottom: 38px;
  }
}

.reviews__author {
  @include list-style;

  margin-bottom: 5px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black-font-color;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__author-mail {
  margin-bottom: 27px;

  font-size: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__prev,
.reviews__next {
  display: inline-block;
  width: 128px;
  height: 53px;

  font-size: 0;

  border: 2px solid $smoke-font-color;
  background-color: transparent;

  outline: none;
  box-shadow: none;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 50px;
    right: 0px;

    width: 70px;
  }

  @media (min-width: $desktop-width) {
    bottom: 95px;
  }
}

.reviews__prev {
  @media (min-width: $tablet-width) {
    right: 105px;
  }
}

.reviews__write {
  margin-top: 36px;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    position: absolute;

    top: 75px;
    right: 0;

    width: 175px;
    margin: 0;
  }
}
