.reviews__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    position: relative;

    padding-bottom: 130px;

    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 180px;
    padding-left: 172px;
  }
}

.reviews {
  margin-top: 55px;

  border: 1px solid transparent;

  @media (min-width: $tablet-width) {
    margin-top: 30px;

    background-repeat: no-repeat;
    background-position: -10px -10px;
    background-image: url("../img/review@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }
  }

  @media (min-width: $desktop-width) {
    @include container;

    margin-top: 35px;

    background-position: 0 -10px;
  }
}

.reviews__title {
  @include list-style;
  @include title-base-fonts;

  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    @include title-tablet-fonts;

    padding-top: 75px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 45px;

    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__descr {
  @include list-style;

  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    margin-bottom: 38px;
  }
}

.reviews__author {
  @include list-style;

  margin-bottom: 5px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black-font-color;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__author-mail {
  margin-bottom: 27px;

  font-size: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__prev,
.reviews__next {
  display: inline-block;
  width: 128px;
  height: 53px;

  font-size: 0;

  border: 1px solid $smoke-font-color;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  outline: none;
  box-shadow: none;
  box-sizing: border-box;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 130px;
    right: 10px;

    width: 70px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    bottom: 180px;
  }
}

.reviews__prev {

  background-image: url("../img/icon-left-arrow.svg");

  @media (min-width: $tablet-width) {
    right: 95px;
  }
}

.reviews__next {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__write {
  margin-top: 36px;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    position: absolute;

    top: 75px;
    right: 0;

    width: 175px;
    margin: 0;
  }
}
