.site-list {
  @include list-style;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &--first {
    @media (min-width: $tablet-width) {
      order: 2;
      z-index: 6
    }

    @media (min-width: $desktop-width) {
      order: 1;
    }
  }

  &--second{
    @media (min-width: $tablet-width) {
      order: 1;
    }

    @media (min-width: $desktop-width) {
      order: 3;
    }
  }
}

.site-list--first .site-list__link {
  @media (min-width: $tablet-width) {
    padding: 20px 0;
    margin-right: 35px;

    font-size: 15px;
    line-height: 24px;

    @media (min-width: $desktop-width) {
      @include custom-title-fonts ;
      padding: 32px 0;
      margin-right: 0;
    }

    &--catalog {
      @media (min-width: $desktop-width) {
        @include custom-title-fonts ;
        padding-right: 40px;

        border-right: 1px solid #e5e5e5;
      }
    }

    &--order {
      @media (min-width: $desktop-width) {
        @include custom-title-fonts ;
        padding-right: 30px;
        padding-left: 30px;
      }
    }
  }
}

.site-list__link {
  position: relative;

  display: block;
  width: 260px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 45px;
  padding-right: 10px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black-font-color;
  text-decoration: none;

  box-sizing: border-box;


  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    padding-left: 10px;
  }

  &--search {
    @media (min-width: $tablet-width) {
      width: 84px;
      height: 100%;

      font-size: 0;
      border-left: 1px solid $silver-font-color;
      border-right: 1px solid $silver-font-color;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 32px 10px;
  }

  &--cart {
    @media (min-width: $tablet-width) {
      width: 260px;
      padding-right: 0;

      text-align: right;
    }
  }
}

.site-list__link:hover span,
.site-list__link:focus span {
  opacity: 0.6;
}

.site-list__link:active{
  opacity: 0.3;
}

.site-list__search-icon,
.site-list__cart-icon {
  position: absolute;
  top: 32px;
  left: 0;

  width: 21px;
  height: 18px;

  opacity: 0.2;

  @media (min-width: $tablet-width) {
    top: 35px;
    left: 30px;
  }
}

.site-list__link--cart:hover .site-list__cart-icon,
.site-list__link--search:hover .site-list__search-icon {
  opacity: 1;

  path {
    fill: $mentol-font-color;
  }
}

.site-list__item {

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $smoke-font-color;
    border-bottom: 1px solid $smoke-font-color;
  }


  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

}
