.site-list {
  @include list-style;
}

.site-list__link {
  display: block;
  padding: 28px 10px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black-font-color;
  text-align: center;
  text-decoration: none;

  box-sizing: border-box;
  outline: 2px solid red;

  &--logo {
    padding: 22px 10px;
  }
}
