.social__list {
  @include list-style;
  display: flex;
  justify-content: center;
  margin: 20px 0;

  font-size: 0;
}

.social__link {
  display: inline-flex;
  width: 30px;
  height: 35px;

  outline: 2px solid;
}
